/**/
body {
    margin-top: 45vh;
    text-align: center;
    font-size: 1.2em;
}

body p {
    margin: 0;
}

input#textbox1 {
    width: 150px;
    font-size: 1em;
    border: 2px solid #248;
    border-radius: 5px;
    box-sizing: border-box;
    padding-left: 10px;
    position: relative;
    top: 2px;
}

#button1:focus, #button2:focus, #textbox1:focus {
    outline: 0;
}

.part2{
    margin: 10px;
    position:relative;
}

input#button1 {
    padding: 10px 30px;
    border-style: none;
    background-color: #248;
    color: white;
    font-weight: bolder;
    font-size: 1em;
    border-radius: 5px;
    text-align: center;
    position: absolute;
    top: 35px;
    left: 0;
    right:0 ;
    margin: auto;
}

input#button2 {
    border-style:none;
    background-color: #248;
    color: white;
    font-weight: bolder;
    padding:5px 20px;
    border-radius: 5px;
}